@font-face {
	font-family: CircularStd-Book;
	src: url(CircularStd-Book.woff);
}


/*Main container*/

.GetStarted {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 6fr 1fr;
}

.GetStarted h1 {
	font-weight: bold;
	font-family: CircularStd-Book;
	grid-column: 2;
	grid-row: 1;
}


/*First child container*/

.GetStarted-Container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 2;
	display: flex;
  	align-items: center;
	justify-content: center;
	padding: 10px 30px 0px 30px;
	font-family: CircularStd-Book;
}

/*Left side Image Slider*/

.ImageSlider {
	width: 660px;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.ImageButtons {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, -50%)
}

.ImageButtons button {
	width: 8px;
	height: 8px;
	padding: 0;
	margin: 10px;
	border-radius: 50%;
}

/*Right side form Container*/

.GetStarted-Forms {
	width: 360px;
	height: 500px;
	background-color: white;
	display: inline-block;
}

/*Information and Finalize selectors*/

.GetStarted-FormSelector {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 21px 32px 10px 32px;
	text-align: center;
}

.GetStarted-FormSelector a {
	font-size: 12px;
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #C3BEBE;
	letter-spacing: 0px;
	color: #C3BEBE;
}


/*Information form*/

.InformationForm {
	padding: 25px 16px 10px 16px;
}

.Info-Form {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, 1fr) 60px; 
	width: 85%;
	margin: 0 auto;
	font-family: CircularStd-Book;
}

.Info-Form label {
	width: 110%;
	height: 35px;
	font-size: 9px;
	letter-spacing: 0px;
}

.Info-Form input {
	margin-top: 5px;
	width: 75%;
}

.heights {
	width: 20% !important;
}

#nextButton {
	grid-column: span 2;
	width: 35%;
	padding: 8px;
	justify-self: center;
	border-radius: 15px;
	background-color: #32AF44;
	font-size: 11px;
	font-family: CircularStd-Book;
}


/*Finalize form*/

.FinalizeForm {
	padding: 10px 34px 10px 34px;
}

.Final-Form {
	padding-top: 10px;
	display: grid;
	grid-gap: .4em;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 1fr 2fr;
	margin: 0 auto;
	font-family: CircularStd-Book;
}

.Final-Form img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.Final-Form a {
	color: #4A90E2;
	font-size: 13px;
}

.Final-Form input, textarea {
	font-size: 11px;
	padding: 5px;
}

.Final-Form span {
	font-size: 10px;
	color: #C3BEBE;
	padding-left: 13px;
	padding-right: 13px;
}

#prof-pic {
	display: table;
}

#prof-pic-buttons {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	font-size: 12px;
}

#prof-pic-buttons-border {
	border-bottom: 1px #ccc solid;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#addPic {
	font-family: CircularStd-Book;
	color: white;
	background-color: #4A90E2;
	border-radius: 8px;
	padding: 4px 23px 4px 23px;
	font-size: 11px;
}

.Highlight-Video {
	display: flex; 
	align-items: center;
}

#h-video {
	font-size: 10px;
	padding-left: 5px;
}

#yt-textarea {
	opacity: 0.7;
	resize: none;
	font-family: CircularStd-Book;
}

#finishButton {
	grid-column: span 1;
	width: 33.5%;
	margin-top: 36.5px;
	padding: 8px;
	justify-self: center;
	border-radius: 15px;
	background-color: #32AF44;
	font-size: 11px;
	font-family: CircularStd-Book;
}

/**** Mobile responsiveness - above css control this ****/
/* Extra small devices (portrait tablets and large phones, 321px and up) */
@media only screen and (max-width: 570px) {
	.GetStarted {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 6fr 1fr;
	}
	.GetStarted-Container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.1fr 1fr;
		align-items: center;
		justify-content: center;
		padding: 0px;
		font-family: CircularStd-Book;
	}
	.ImageSlider {
		width: 100%;
		height: 75vw;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	.GetStarted-Forms {
		grid-column: 1;
		width: auto;
		height: 100%;
		background-color: white;
		display: inline-block;
	}
}