.home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat 1fr 1fr; }

.slogan {
  background-color: black;
  margin: 0px;
  grid-row-start: 2;
  padding: 20px;
  justify-self: center;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

p {
  margin: 0;
  padding-top: 10px;
  opacity: 0.9;
  font-size: 27px;
  line-height: 1.5;
  font-weight: normal;
}

.signup {
  grid-column: -1;
  grid-row: 1/ span 2;
  align-self: top;
  padding-top: 60px;
 }

.home-1-container {
    height: 80vh;
    max-width: 1150px;
    font-size: 16px;
    padding: 30px 60px 40px 80px;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 120px 60px 100px 60px;
  }

.section-2 p {
  grid-column: 1;
  font-size: 18px;
}

.section-2 h1 {
  font-size: 45px;
  padding-top: 30px;
  grid-column: 1;
}

.section-2 h2 {
  grid-column: 1;
}

.right {
  grid-column: 2;
  grid-row: 1 / 6;
  padding-left: 60px;
}

.section-2 img {
  height: 98%;
  width: 95%;
}

.home-2-container {
  font-size: 16px;
  max-width: 1150px;
  height: 70vh;
  padding: 60px 100px 20px 170px;
  display: grid;
  grid-template-columns: 2.05fr 4fr 0.5fr;
  grid-template-rows: 90px 50px 80px 50px 60px 50px;

}

.section-3 {
  color: white;
  background-color: black;
}

.section-3 p {
  grid-column: 2;
  opacity: 0.9;
  font-size: 16px;
  padding-left: 160px;
  font-weight: 200;

}

.section-3 h1 {
  grid-column: 2;
  padding-left: 160px;
  font-size: 42px;
}

.section-3 h3 {
  grid-column: 2;
  padding-left: 160px;
  font-size: 20px;
}

.section-3 img {
  height: 100%;
  width: 100%;
  grid-row: 1 / 8;
  padding-top: 20px;
}

.home-3-container {
  height: 40vh;
  padding: 30px 0px 30px 70px;
  grid-column-gap: 20px;
  display:grid;
  grid-template-columns: 3fr 5fr 0.7fr;
  grid-template-rows: 170px 60px 90px;
}

.home-4-container {
  background-color: #F6F5F5;
  height: 65vh;
  padding: 40px 70px 0px 70px;
  display:grid;
  grid-column-gap: 8em;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: auto 1fr;
}

.home-4-container h1 {
  font-size: 35px;
  font-weight: lighter;
  line-height: 1.5;
}

.map {
  grid-column: 2;
  grid-row: 1 / -1 ;
}

.find-container {
  display: grid;
  grid-column: 1;
  grid-template-columns: 300px 70px;
  grid-template-rows: 60px 60px;
  grid-row-gap: 20px;
}

.inputs_location {
  grid-row: 2;
  grid-column: 1 / 2;
  border: none;
  font-size: 16px;
  padding-left: 16px;
}

.inputs_sport {
  grid-column: span 2;
  border: none;
  font-size: 16px;
  padding-left: 16px;
}

.btn-find {
  grid-row: 2;
  background-color: #1DB954;
  color: white;
  border:none;
  font-size: 16px;
}


.home-3-container h1 {
  font-size: 45px;
  line-height: 1.3;

}

.section-4 h3 {
  padding-top: 15px;
  font-size: 17px;
  grid-row: 2;
}

span {
  opacity: 0.4;
}

.section-4 img {
  grid-column: 2;
  padding: 30px 20px 0px 50px;
  height: 100%;
  width: 66%;
}

.btn-2 {
  background-color: #1DB954;
  color: white;
  line-height: 1.4;
  text-align: left;
  border: none;
  font-size: 16px;
  grid-row:  3;
  grid-column: 3;
}

.home-5-container {
  background-color: black;
  padding: 50px 0px 10px 70px;
  font-size: 20px;
  color:white;
  height: 40vh;
  display: grid;
  grid-template-columns: 2fr 2fr ;
  grid-template-rows: 120px auto auto

}

.section-5 img {
  width: 75%; height: 90%;
  grid-column: 1;
  grid-row: 1 / -1;
}

.section-5 h3 {
  grid-column: 2;
  font-weight: lighter;
  opacity: 0.8;
}

.home-6-container {
  height: 100vh;
  background-color: #F6F5F5;
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 1.1fr 2fr 2fr 1.1fr;
  grid-template-rows: 1fr 5fr;
  padding-top: 2em;
}

.home-6-container h1 {
  grid-column: 2 / span 2;
  justify-self: center;
  font-size: 50px;
}

.comp-1 {
  grid-column: 2;
}

.comp-2 {
  grid-column: 3;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 350px; 
  }
  .signup {
    visibility: hidden;
  }

  .slogan {
    grid-row-start: 2;
    width: 200px;
    height: 90px;
    font-size: 25px;
    margin-left: 10px;
    padding: 10px;
    align-self: end;
  }

  p {
    padding: 0;
    font-size: 20px;
  }

  .home-1-container {
    height: 130vh;
    padding: 30px 80px 40px 60px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 150px 50px 200px 100px;
  }

  .section-2 p {
    font-size: 18px;
  }

  .section-2 h1 {
    font-size: 30px;
    padding-top: 20px;
    margin: 0;
  }

  .section-2 h2 {
    margin: 0;
  }

  .right {
    grid-column: 1;
    grid-row: span 2 / 8;
    padding-left: 0px;
  }

  .section-2 img {
    height: 100%;
    width: 100%;
  }

  .home-2-container {
    font-size: 16px;
    max-width: 1150px;
    height: 160vh;
    padding: 20px 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 70px 140px 70px 130px 70px 100px auto;

  }

  .section-3 p {
    grid-column: 1;
    opacity: 0.9;
    font-size: 18px;
    padding-left: 0px;
    font-weight: 200;

  }

  .section-3 h1 {
    grid-column: 1;
    padding-left: 0px;
    font-size: 30px;
  }

  .section-3 h3 {
    grid-column: 1;
    padding-left: 0px;
    font-size: 20px;
  }

  .section-3 img {
    height: 100%;
    width: 100%;
    grid-row-start: 8;
    padding-top: 20px;
  }


  .home-3-container {
    height: 80vh;
    padding: 30px 60px 30px 60px;
    grid-column-gap: 20px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 90px 100px 60px 40px;
  }

  .home-3-container h1 {
    font-size: 30px;
    line-height: 1.3;
    padding-left: 25px;

  }

  .section-4 h3 {
    padding: 25px 0px 0px 10px;
    margin: 0px;
    font-size: 15px;
  }

  span {
    opacity: 0.4;
  }

  .section-4 img {
    grid-column: 1;
    padding: 0px 20px 0px 30px;
    height: 100%;
    width: 76%;
    grid-row: 3;
  }

  .btn-2 {
    background-color: #1DB954;
    color: white;
    line-height: 1.4;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    grid-column: 1;
    grid-row: 5;
    width: 150px;
    justify-self: center;
  }

  .home-4-container {
    visibility: hidden;
  }

  .section-4 {
    height: 80vh;
  }

  .home-5-container {
  background-color: black;
  padding: 20px 0px 10px 40px;
  font-size: 20px;
  color:white;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 200px;

}

.section-5 img {
  width: 75%; height: 90%;
  grid-column: 1;
  grid-row: 3;
}

.section-5 h1 {
  font-size: 25px;
  grid-row: 1;
}

.section-5 h3 {
  grid-column: 1;
  font-size: 20px;  
  font-weight: lighter;
  opacity: 0.8;
}

  .home-6-container {
    height: 200vh;
    background-color: #F6F5F5;
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr 2fr;
    padding: 2em 1em;
  }

  .home-6-container h1 {
    grid-column: 1;
    justify-self: center;
    font-size: 40px;
  }

  .comp-1 {
    grid-column: 1;
  }

  .comp-2 {
    grid-column: 1;
  }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .signup {
    visibility: hidden;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .signup {
    visibility: visible;
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .signup {
    visibility: visible;
  }

  .slogan {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .signup {
    visibility: visible;
  }

}