.home-4-container {
  background-color: #F6F5F5;
  height: 65vh;
  padding: 40px 70px 0px 70px;
  display:grid;
  grid-column-gap: 8em;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: auto 1fr;
}

.home-4-container h1 {
  font-size: 35px;
  font-weight: lighter;
  line-height: 1.5;
}

.find-container {
  display: grid;
  grid-column: 1;
  grid-template-columns: 300px 70px;
  grid-template-rows: 60px 60px;
  grid-row-gap: 20px;
}

.inputs_sport {
  grid-column: span 2;
  border: none;
  font-size: 16px;
  padding-left: 16px;
}

.inputs_location {
  grid-row: 2;
  grid-column: 1 / 2;
  border: none;
  font-size: 16px;
  padding-left: 16px;
}

.btn-find {
  grid-row: 2;
  background-color: #1DB954;
  color: white;
  border:none;
  font-size: 16px;
}

.map {
  grid-column: 2;
  grid-row: 1 / -1 ;
}

@media only screen and (max-width: 767px) {
	.home-4-container {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.home-4-container {
		grid-column-gap: 3em;
		padding: 40px 40px;
	}

	.find-container {
  		grid-template-columns: minmax(200px, 500px) 60px;
  		grid-template-rows: 60px 60px;
  		grid-row-gap: 20px;
	}
	
	.home-4-container h1 {
		font-size: 30px;
	}
 }

 @media only screen and (min-width: 900px) {
 	.home-4-container {
		grid-column-gap: 6em;
		padding: 40px 60px 0px 60px;
	}
 }

 @media only screen and (min-width: 1200px) {
	.home-4-container h1 {
		font-size: 35px;
	}

	.home-4-container {
		grid-column-gap: 8em;
		  padding: 40px 70px 0px 70px;
	}
 }